import(methods)
importFrom(stats4,logLik)

exportClasses(
	ParticleBase,
	ParticleMatrix
)

exportMethods(
	getParticles,
	"setParticles<-",
	ParticleMove,
	doParticleMove,
	SmcIterate,
	doSmcIterate,
	UpdateWeights,
	doUpdateWeights,
	McmcMove,
	doMcmcMove,
	ESS,
	getLogWeights,
	"setLogWeights<-",
	getWeights,
	getNormWeights,
	ParticleMean,
	ParticleCov,
	ParticleVar,
	Resample,
	doResample,
	getN
)
