import(methods)
importFrom(stats4,logLik)

exportClasses(
	ParticleBase,
	ParticleMatrix
)

exportMethods(
	particles,
	"particles<-",
	ParticleMove,
	#doParticleMove,
	SmcIterate,
	#doSmcIterate,
	UpdateWeights,
	#doUpdateWeights,
	McmcMove,
	#doMcmcMove,
	ESS,
	logWeights,
	"logWeights<-",
	#getLogWeights,
	#"setLogWeights<-",
	getWeights,
	getNormWeights,
	mean,
	ParticleMean,
	cov,
	ParticleCov,
	var,
	ParticleVar,
	Resample,
	#doResample,
	getN
)

export(
    DynProbit,
    DynProbitInit
)
